@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f12generic;
	src:url(../fonts1/f12.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f10generic;
	src:url(../fonts1/f10.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f9generic;
	src:url(../fonts1/f9.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f11generic;
	src:url(../fonts1/f11.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f13generic;
	src:url(../fonts1/f13.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f17generic;
	src:url(../fonts1/f17.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f16generic;
	src:url(../fonts1/f16.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f15generic;
	src:url(../fonts1/f15.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f14generic;
	src:url(../fonts1/f14.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f18generic;
	src:url(../fonts1/f18.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f21generic;
	src:url(../fonts1/f21.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f20generic;
	src:url(../fonts1/f20.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f19generic;
	src:url(../fonts1/f19.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f22generic;
	src:url(../fonts1/f22.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f27generic;
	src:url(../fonts1/f27.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f25generic;
	src:url(../fonts1/f25.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f23generic;
	src:url(../fonts1/f23.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f24generic;
	src:url(../fonts1/f24.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f26generic;
	src:url(../fonts1/f26.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f29generic;
	src:url(../fonts1/f29.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f28generic;
	src:url(../fonts1/f28.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f30generic;
	src:url(../fonts1/f30.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f3generic;
	src:url(../fonts1/f3.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f0generic;
	src:url(../fonts1/f0.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f2generic;
	src:url(../fonts1/f2.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f4generic;
	src:url(../fonts1/f4.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f1generic;
	src:url(../fonts1/f1.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f8generic;
	src:url(../fonts1/f8.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f7generic;
	src:url(../fonts1/f7.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f5generic;
	src:url(../fonts1/f5.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:f6generic;
	src:url(../fonts1/f6.otf) format("opentype");
}

