@import "font.css";
.PageContainer {
	overflow:hidden;
	background-color:#FFFFFF;
}

.s0 {
	white-space:pre;
	position:absolute;
	display:inline-block;
}
.s1 {
	border:0;
	margin:0;
	white-space:pre;
	position:absolute;
	display:block;
}
.trn_link {
	background-image:url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICR??AEAOw==');
	position:absolute;
}
.l2 { line-height:1.00; }
.l4 { line-height:1.00; }
.l1 { line-height:1.01; }
.l5 { line-height:1.02; }
.l3 { line-height:1.02; }
.l0 { line-height:1.05; }
.fs251 { font-size:292.00px; }
.fs258 { font-size:296.00px; }
.fs254 { font-size:300.00px; }
.fs222 { font-size:330.00px; }
.fs228 { font-size:333.00px; }
.fs208 { font-size:348.00px; }
.fs203 { font-size:352.00px; }
.fs209 { font-size:354.00px; }
.fs124 { font-size:356.00px; }
.fs206 { font-size:358.00px; }
.fs271 { font-size:359.00px; }
.fs123 { font-size:360.00px; }
.fs122 { font-size:363.00px; }
.fs201 { font-size:367.00px; }
.fs259 { font-size:369.00px; }
.fs177 { font-size:370.00px; }
.fs267 { font-size:373.00px; }
.fs104 { font-size:377.00px; }
.fs207 { font-size:378.00px; }
.fs46 { font-size:379.00px; }
.fs270 { font-size:380.00px; }
.fs190 { font-size:381.00px; }
.fs53 { font-size:382.00px; }
.fs269 { font-size:383.00px; }
.fs178 { font-size:384.00px; }
.fs61 { font-size:386.00px; }
.fs132 { font-size:387.00px; }
.fs130 { font-size:388.00px; }
.fs240 { font-size:389.00px; }
.fs6 { font-size:390.00px; }
.fs233 { font-size:391.00px; }
.fs58 { font-size:392.00px; }
.fs103 { font-size:394.00px; }
.fs52 { font-size:396.00px; }
.fs262 { font-size:397.00px; }
.fs126 { font-size:398.00px; }
.fs42 { font-size:399.00px; }
.fs38 { font-size:401.00px; }
.fs155 { font-size:402.00px; }
.fs7 { font-size:403.00px; }
.fs24 { font-size:404.00px; }
.fs57 { font-size:406.00px; }
.fs128 { font-size:407.00px; }
.fs205 { font-size:408.00px; }
.fs220 { font-size:409.00px; }
.fs253 { font-size:410.00px; }
.fs41 { font-size:411.00px; }
.fs79 { font-size:412.00px; }
.fs113 { font-size:413.00px; }
.fs47 { font-size:414.00px; }
.fs20 { font-size:415.00px; }
.fs183 { font-size:416.00px; }
.fs112 { font-size:417.00px; }
.fs90 { font-size:418.00px; }
.fs168 { font-size:421.00px; }
.fs43 { font-size:422.00px; }
.fs176 { font-size:423.00px; }
.fs48 { font-size:425.00px; }
.fs4 { font-size:426.00px; }
.fs189 { font-size:428.00px; }
.fs260 { font-size:429.00px; }
.fs54 { font-size:430.00px; }
.fs29 { font-size:431.00px; }
.fs22 { font-size:432.00px; }
.fs18 { font-size:433.00px; }
.fs60 { font-size:434.00px; }
.fs150 { font-size:435.00px; }
.fs33 { font-size:436.00px; }
.fs171 { font-size:437.00px; }
.fs73 { font-size:438.00px; }
.fs127 { font-size:440.00px; }
.fs118 { font-size:441.00px; }
.fs231 { font-size:443.00px; }
.fs160 { font-size:444.00px; }
.fs10 { font-size:446.00px; }
.fs21 { font-size:447.00px; }
.fs102 { font-size:448.00px; }
.fs25 { font-size:449.00px; }
.fs49 { font-size:450.00px; }
.fs17 { font-size:452.00px; }
.fs97 { font-size:453.00px; }
.fs64 { font-size:454.00px; }
.fs30 { font-size:455.00px; }
.fs224 { font-size:457.00px; }
.fs142 { font-size:458.00px; }
.fs34 { font-size:460.00px; }
.fs226 { font-size:462.00px; }
.fs16 { font-size:464.00px; }
.fs245 { font-size:466.00px; }
.fs263 { font-size:467.00px; }
.fs218 { font-size:473.00px; }
.fs36 { font-size:474.00px; }
.fs74 { font-size:475.00px; }
.fs27 { font-size:480.00px; }
.fs166 { font-size:482.00px; }
.fs31 { font-size:485.00px; }
.fs147 { font-size:487.00px; }
.fs3 { font-size:488.00px; }
.fs89 { font-size:490.00px; }
.fs133 { font-size:491.00px; }
.fs273 { font-size:493.00px; }
.fs11 { font-size:496.00px; }
.fs274 { font-size:497.00px; }
.fs77 { font-size:501.00px; }
.fs76 { font-size:504.00px; }
.fs67 { font-size:506.00px; }
.fs63 { font-size:509.00px; }
.fs68 { font-size:514.00px; }
.fs149 { font-size:517.00px; }
.fs78 { font-size:530.00px; }
.fs272 { font-size:532.00px; }
.fs204 { font-size:533.00px; }
.fs202 { font-size:540.00px; }
.fs13 { font-size:544.00px; }
.fs120 { font-size:545.00px; }
.fs138 { font-size:548.00px; }
.fs136 { font-size:550.00px; }
.fs134 { font-size:551.00px; }
.fs131 { font-size:552.00px; }
.fs121 { font-size:553.00px; }
.fs210 { font-size:556.00px; }
.fs248 { font-size:561.00px; }
.fs119 { font-size:562.00px; }
.fs211 { font-size:563.00px; }
.fs212 { font-size:569.00px; }
.fs56 { font-size:573.00px; }
.fs283 { font-size:575.00px; }
.fs62 { font-size:578.00px; }
.fs137 { font-size:581.00px; }
.fs55 { font-size:585.00px; }
.fs59 { font-size:588.00px; }
.fs191 { font-size:589.00px; }
.fs198 { font-size:590.00px; }
.fs140 { font-size:594.00px; }
.fs200 { font-size:596.00px; }
.fs197 { font-size:597.00px; }
.fs266 { font-size:599.00px; }
.fs50 { font-size:600.00px; }
.fs243 { font-size:604.00px; }
.fs125 { font-size:605.00px; }
.fs51 { font-size:612.00px; }
.fs199 { font-size:615.00px; }
.fs44 { font-size:616.00px; }
.fs192 { font-size:617.00px; }
.fs139 { font-size:621.00px; }
.fs213 { font-size:625.00px; }
.fs244 { font-size:626.00px; }
.fs246 { font-size:627.00px; }
.fs45 { font-size:629.00px; }
.fs242 { font-size:635.00px; }
.fs185 { font-size:640.00px; }
.fs195 { font-size:644.00px; }
.fs268 { font-size:645.00px; }
.fs156 { font-size:647.00px; }
.fs40 { font-size:649.00px; }
.fs172 { font-size:652.00px; }
.fs39 { font-size:655.00px; }
.fs170 { font-size:656.00px; }
.fs135 { font-size:657.00px; }
.fs169 { font-size:664.00px; }
.fs186 { font-size:665.00px; }
.fs278 { font-size:666.00px; }
.fs194 { font-size:672.00px; }
.fs26 { font-size:673.00px; }
.fs129 { font-size:675.00px; }
.fs193 { font-size:677.00px; }
.fs173 { font-size:683.00px; }
.fs265 { font-size:684.00px; }
.fs180 { font-size:685.00px; }
.fs188 { font-size:702.00px; }
.fs158 { font-size:705.00px; }
.fs179 { font-size:706.00px; }
.fs9 { font-size:710.00px; }
.fs175 { font-size:714.00px; }
.fs159 { font-size:717.00px; }
.fs5 { font-size:718.00px; }
.fs28 { font-size:720.00px; }
.fs19 { font-size:721.00px; }
.fs8 { font-size:722.00px; }
.fs237 { font-size:723.00px; }
.fs184 { font-size:725.00px; }
.fs157 { font-size:726.00px; }
.fs32 { font-size:727.00px; }
.fs239 { font-size:730.00px; }
.fs232 { font-size:733.00px; }
.fs187 { font-size:735.00px; }
.fs241 { font-size:737.00px; }
.fs238 { font-size:740.00px; }
.fs234 { font-size:743.00px; }
.fs23 { font-size:744.00px; }
.fs84 { font-size:748.00px; }
.fs37 { font-size:749.00px; }
.fs93 { font-size:751.00px; }
.fs235 { font-size:753.00px; }
.fs98 { font-size:754.00px; }
.fs108 { font-size:758.00px; }
.fs85 { font-size:760.00px; }
.fs221 { font-size:762.00px; }
.fs219 { font-size:763.00px; }
.fs86 { font-size:764.00px; }
.fs35 { font-size:766.00px; }
.fs174 { font-size:767.00px; }
.fs227 { font-size:769.00px; }
.fs161 { font-size:775.00px; }
.fs87 { font-size:779.00px; }
.fs264 { font-size:780.00px; }
.fs96 { font-size:784.00px; }
.fs99 { font-size:785.00px; }
.fs223 { font-size:787.00px; }
.fs165 { font-size:789.00px; }
.fs247 { font-size:796.00px; }
.fs116 { font-size:799.00px; }
.fs117 { font-size:802.00px; }
.fs236 { font-size:803.00px; }
.fs107 { font-size:805.00px; }
.fs92 { font-size:806.00px; }
.fs162 { font-size:807.00px; }
.fs82 { font-size:808.00px; }
.fs101 { font-size:810.00px; }
.fs286 { font-size:812.00px; }
.fs225 { font-size:813.00px; }
.fs106 { font-size:814.00px; }
.fs94 { font-size:816.00px; }
.fs100 { font-size:819.00px; }
.fs229 { font-size:821.00px; }
.fs95 { font-size:822.00px; }
.fs91 { font-size:829.00px; }
.fs261 { font-size:830.00px; }
.fs230 { font-size:833.00px; }
.fs83 { font-size:835.00px; }
.fs105 { font-size:839.00px; }
.fs115 { font-size:841.00px; }
.fs81 { font-size:852.00px; }
.fs80 { font-size:864.00px; }
.fs12 { font-size:868.00px; }
.fs256 { font-size:870.00px; }
.fs164 { font-size:879.00px; }
.fs109 { font-size:883.00px; }
.fs15 { font-size:890.00px; }
.fs279 { font-size:891.00px; }
.fs257 { font-size:894.00px; }
.fs163 { font-size:905.00px; }
.fs167 { font-size:915.00px; }
.fs114 { font-size:919.00px; }
.fs285 { font-size:927.00px; }
.fs284 { font-size:930.00px; }
.fs70 { font-size:931.00px; }
.fs144 { font-size:932.00px; }
.fs250 { font-size:934.00px; }
.fs2 { font-size:935.00px; }
.fs75 { font-size:937.00px; }
.fs154 { font-size:943.00px; }
.fs255 { font-size:946.00px; }
.fs69 { font-size:947.00px; }
.fs252 { font-size:959.00px; }
.fs182 { font-size:963.00px; }
.fs196 { font-size:966.00px; }
.fs280 { font-size:968.00px; }
.fs66 { font-size:978.00px; }
.fs65 { font-size:994.00px; }
.fs217 { font-size:1002.00px; }
.fs216 { font-size:1006.00px; }
.fs143 { font-size:1011.00px; }
.fs146 { font-size:1015.00px; }
.fs215 { font-size:1021.00px; }
.fs282 { font-size:1023.00px; }
.fs0 { font-size:1024.00px; }
.fs145 { font-size:1046.00px; }
.fs152 { font-size:1049.00px; }
.fs281 { font-size:1052.00px; }
.fs153 { font-size:1053.00px; }
.fs151 { font-size:1054.00px; }
.fs88 { font-size:1065.00px; }
.fs181 { font-size:1066.00px; }
.fs14 { font-size:1084.00px; }
.fs111 { font-size:1085.00px; }
.fs214 { font-size:1093.00px; }
.fs148 { font-size:1097.00px; }
.fs141 { font-size:1119.00px; }
.fs1 { font-size:1138.00px; }
.fs72 { font-size:1139.00px; }
.fs275 { font-size:1167.00px; }
.fs110 { font-size:1169.00px; }
.fs249 { font-size:1183.00px; }
.fs71 { font-size:1227.00px; }
.fs276 { font-size:1228.00px; }
.fs277 { font-size:2000.00px; }
.t30 {
	-webkit-transform:scale(0.951127, 1.048873);
	-o-transform:scale(0.951127, 1.048873);
	-ms-transform:scale(0.951127, 1.048873);
	-moz-transform:scale(0.951127, 1.048873);
	transform:scale(0.951127, 1.048873);
}
.t91 {
	-webkit-transform:scale(0.982527, 1.017473);
	-o-transform:scale(0.982527, 1.017473);
	-ms-transform:scale(0.982527, 1.017473);
	-moz-transform:scale(0.982527, 1.017473);
	transform:scale(0.982527, 1.017473);
}
.t81 {
	-webkit-transform:scale(0.985965, 1.014035);
	-o-transform:scale(0.985965, 1.014035);
	-ms-transform:scale(0.985965, 1.014035);
	-moz-transform:scale(0.985965, 1.014035);
	transform:scale(0.985965, 1.014035);
}
.t69 {
	-webkit-transform:scale(0.987760, 1.012240);
	-o-transform:scale(0.987760, 1.012240);
	-ms-transform:scale(0.987760, 1.012240);
	-moz-transform:scale(0.987760, 1.012240);
	transform:scale(0.987760, 1.012240);
}
.t76 {
	-webkit-transform:scale(0.987767, 1.012233);
	-o-transform:scale(0.987767, 1.012233);
	-ms-transform:scale(0.987767, 1.012233);
	-moz-transform:scale(0.987767, 1.012233);
	transform:scale(0.987767, 1.012233);
}
.t27 {
	-webkit-transform:scale(0.987827, 1.012173);
	-o-transform:scale(0.987827, 1.012173);
	-ms-transform:scale(0.987827, 1.012173);
	-moz-transform:scale(0.987827, 1.012173);
	transform:scale(0.987827, 1.012173);
}
.t97 {
	-webkit-transform:scale(0.988924, 1.011076);
	-o-transform:scale(0.988924, 1.011076);
	-ms-transform:scale(0.988924, 1.011076);
	-moz-transform:scale(0.988924, 1.011076);
	transform:scale(0.988924, 1.011076);
}
.t37 {
	-webkit-transform:scale(0.988924, 1.011076);
	-o-transform:scale(0.988924, 1.011076);
	-ms-transform:scale(0.988924, 1.011076);
	-moz-transform:scale(0.988924, 1.011076);
	transform:scale(0.988924, 1.011076);
}
.t57 {
	-webkit-transform:scale(0.988926, 1.011074);
	-o-transform:scale(0.988926, 1.011074);
	-ms-transform:scale(0.988926, 1.011074);
	-moz-transform:scale(0.988926, 1.011074);
	transform:scale(0.988926, 1.011074);
}
.t98 {
	-webkit-transform:scale(0.989296, 1.010704);
	-o-transform:scale(0.989296, 1.010704);
	-ms-transform:scale(0.989296, 1.010704);
	-moz-transform:scale(0.989296, 1.010704);
	transform:scale(0.989296, 1.010704);
}
.t23 {
	-webkit-transform:scale(0.989404, 1.010596);
	-o-transform:scale(0.989404, 1.010596);
	-ms-transform:scale(0.989404, 1.010596);
	-moz-transform:scale(0.989404, 1.010596);
	transform:scale(0.989404, 1.010596);
}
.t66 {
	-webkit-transform:scale(0.990273, 1.009727);
	-o-transform:scale(0.990273, 1.009727);
	-ms-transform:scale(0.990273, 1.009727);
	-moz-transform:scale(0.990273, 1.009727);
	transform:scale(0.990273, 1.009727);
}
.t13 {
	-webkit-transform:scale(0.990570, 1.009430);
	-o-transform:scale(0.990570, 1.009430);
	-ms-transform:scale(0.990570, 1.009430);
	-moz-transform:scale(0.990570, 1.009430);
	transform:scale(0.990570, 1.009430);
}
.t80 {
	-webkit-transform:scale(0.990854, 1.009146);
	-o-transform:scale(0.990854, 1.009146);
	-ms-transform:scale(0.990854, 1.009146);
	-moz-transform:scale(0.990854, 1.009146);
	transform:scale(0.990854, 1.009146);
}
.t24 {
	-webkit-transform:scale(0.993033, 1.006967);
	-o-transform:scale(0.993033, 1.006967);
	-ms-transform:scale(0.993033, 1.006967);
	-moz-transform:scale(0.993033, 1.006967);
	transform:scale(0.993033, 1.006967);
}
.t26 {
	-webkit-transform:scale(0.993037, 1.006963);
	-o-transform:scale(0.993037, 1.006963);
	-ms-transform:scale(0.993037, 1.006963);
	-moz-transform:scale(0.993037, 1.006963);
	transform:scale(0.993037, 1.006963);
}
.t25 {
	-webkit-transform:scale(0.993038, 1.006962);
	-o-transform:scale(0.993038, 1.006962);
	-ms-transform:scale(0.993038, 1.006962);
	-moz-transform:scale(0.993038, 1.006962);
	transform:scale(0.993038, 1.006962);
}
.t75 {
	-webkit-transform:scale(0.994149, 1.005851);
	-o-transform:scale(0.994149, 1.005851);
	-ms-transform:scale(0.994149, 1.005851);
	-moz-transform:scale(0.994149, 1.005851);
	transform:scale(0.994149, 1.005851);
}
.t101 {
	-webkit-transform:matrix(0.997117, -0.000607, 0.000607, 1.002882, 0.000000, 0.000000);
	-o-transform:matrix(0.997117, -0.000607, 0.000607, 1.002882, 0.000000, 0.000000);
	-ms-transform:matrix(0.997117, -0.000607, 0.000607, 1.002882, 0.000000, 0.000000);
	-moz-transform:matrix(0.997117, -0.000607, 0.000607, 1.002882, 0.000000, 0.000000);
	transform:matrix(0.997117, -0.000607, 0.000607, 1.002882, 0.000000, 0.000000);
}
.t100 {
	-webkit-transform:matrix(0.997119, -0.000607, 0.000614, 1.002881, 0.000000, 0.000000);
	-o-transform:matrix(0.997119, -0.000607, 0.000614, 1.002881, 0.000000, 0.000000);
	-ms-transform:matrix(0.997119, -0.000607, 0.000614, 1.002881, 0.000000, 0.000000);
	-moz-transform:matrix(0.997119, -0.000607, 0.000614, 1.002881, 0.000000, 0.000000);
	transform:matrix(0.997119, -0.000607, 0.000614, 1.002881, 0.000000, 0.000000);
}
.t44 {
	-webkit-transform:scale(0.999611, 1.000389);
	-o-transform:scale(0.999611, 1.000389);
	-ms-transform:scale(0.999611, 1.000389);
	-moz-transform:scale(0.999611, 1.000389);
	transform:scale(0.999611, 1.000389);
}
.t6 {
	-webkit-transform:matrix(0.999821, -0.018916, 0.018916, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018916, 0.018916, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018916, 0.018916, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018916, 0.018916, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018916, 0.018916, 0.999821, 0.000000, 0.000000);
}
.t9 {
	-webkit-transform:matrix(0.999821, -0.018914, 0.018914, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018914, 0.018914, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018914, 0.018914, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018914, 0.018914, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018914, 0.018914, 0.999821, 0.000000, 0.000000);
}
.t89 {
	-webkit-transform:matrix(0.999821, -0.018914, 0.018914, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018914, 0.018914, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018914, 0.018914, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018914, 0.018914, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018914, 0.018914, 0.999821, 0.000000, 0.000000);
}
.t8 {
	-webkit-transform:matrix(0.999821, -0.018914, 0.018914, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018914, 0.018914, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018914, 0.018914, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018914, 0.018914, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018914, 0.018914, 0.999821, 0.000000, 0.000000);
}
.t21 {
	-webkit-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
}
.t94 {
	-webkit-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
}
.t10 {
	-webkit-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
}
.t17 {
	-webkit-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
}
.t22 {
	-webkit-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
}
.t11 {
	-webkit-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
}
.t83 {
	-webkit-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018913, 0.018913, 0.999821, 0.000000, 0.000000);
}
.t85 {
	-webkit-transform:matrix(0.999821, -0.018912, 0.018912, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018912, 0.018912, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018912, 0.018912, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018912, 0.018912, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018912, 0.018912, 0.999821, 0.000000, 0.000000);
}
.t5 {
	-webkit-transform:matrix(0.999821, -0.018911, 0.018911, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018911, 0.018911, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018911, 0.018911, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018911, 0.018911, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018911, 0.018911, 0.999821, 0.000000, 0.000000);
}
.t4 {
	-webkit-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
}
.t82 {
	-webkit-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
}
.t86 {
	-webkit-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
}
.t90 {
	-webkit-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
}
.t2 {
	-webkit-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
}
.t92 {
	-webkit-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
}
.t87 {
	-webkit-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
}
.t7 {
	-webkit-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018910, 0.018910, 0.999821, 0.000000, 0.000000);
}
.t12 {
	-webkit-transform:matrix(0.999821, -0.018909, 0.018909, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018909, 0.018909, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018909, 0.018909, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018909, 0.018909, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018909, 0.018909, 0.999821, 0.000000, 0.000000);
}
.t3 {
	-webkit-transform:matrix(0.999821, -0.018908, 0.018908, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018908, 0.018908, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018908, 0.018908, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018908, 0.018908, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018908, 0.018908, 0.999821, 0.000000, 0.000000);
}
.t93 {
	-webkit-transform:matrix(0.999821, -0.018908, 0.018908, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018908, 0.018908, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018908, 0.018908, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018908, 0.018908, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018908, 0.018908, 0.999821, 0.000000, 0.000000);
}
.t84 {
	-webkit-transform:matrix(0.999821, -0.018908, 0.018908, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018908, 0.018908, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018908, 0.018908, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018908, 0.018908, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018908, 0.018908, 0.999821, 0.000000, 0.000000);
}
.t20 {
	-webkit-transform:matrix(0.999821, -0.018906, 0.018906, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018906, 0.018906, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018906, 0.018906, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018906, 0.018906, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018906, 0.018906, 0.999821, 0.000000, 0.000000);
}
.t88 {
	-webkit-transform:matrix(0.999821, -0.018906, 0.018906, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018906, 0.018906, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018906, 0.018906, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018906, 0.018906, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018906, 0.018906, 0.999821, 0.000000, 0.000000);
}
.t15 {
	-webkit-transform:matrix(0.999821, -0.018905, 0.018905, 0.999821, 0.000000, 0.000000);
	-o-transform:matrix(0.999821, -0.018905, 0.018905, 0.999821, 0.000000, 0.000000);
	-ms-transform:matrix(0.999821, -0.018905, 0.018905, 0.999821, 0.000000, 0.000000);
	-moz-transform:matrix(0.999821, -0.018905, 0.018905, 0.999821, 0.000000, 0.000000);
	transform:matrix(0.999821, -0.018905, 0.018905, 0.999821, 0.000000, 0.000000);
}
.t14 {
	-webkit-transform:matrix(1.000000, 0.000811, -0.000811, 1.000000, 0.000000, 0.000000);
	-o-transform:matrix(1.000000, 0.000811, -0.000811, 1.000000, 0.000000, 0.000000);
	-ms-transform:matrix(1.000000, 0.000811, -0.000811, 1.000000, 0.000000, 0.000000);
	-moz-transform:matrix(1.000000, 0.000811, -0.000811, 1.000000, 0.000000, 0.000000);
	transform:matrix(1.000000, 0.000811, -0.000811, 1.000000, 0.000000, 0.000000);
}
.t99 {
	-webkit-transform:matrix(1.000000, -0.000612, 0.000612, 1.000000, 0.000000, 0.000000);
	-o-transform:matrix(1.000000, -0.000612, 0.000612, 1.000000, 0.000000, 0.000000);
	-ms-transform:matrix(1.000000, -0.000612, 0.000612, 1.000000, 0.000000, 0.000000);
	-moz-transform:matrix(1.000000, -0.000612, 0.000612, 1.000000, 0.000000, 0.000000);
	transform:matrix(1.000000, -0.000612, 0.000612, 1.000000, 0.000000, 0.000000);
}
.t0 {
	-webkit-transform:scale(1.009958, 0.990042);
	-o-transform:scale(1.009958, 0.990042);
	-ms-transform:scale(1.009958, 0.990042);
	-moz-transform:scale(1.009958, 0.990042);
	transform:scale(1.009958, 0.990042);
}
.t70 {
	-webkit-transform:scale(1.011149, 0.988851);
	-o-transform:scale(1.011149, 0.988851);
	-ms-transform:scale(1.011149, 0.988851);
	-moz-transform:scale(1.011149, 0.988851);
	transform:scale(1.011149, 0.988851);
}
.t40 {
	-webkit-transform:scale(1.012258, 0.987742);
	-o-transform:scale(1.012258, 0.987742);
	-ms-transform:scale(1.012258, 0.987742);
	-moz-transform:scale(1.012258, 0.987742);
	transform:scale(1.012258, 0.987742);
}
.t38 {
	-webkit-transform:scale(1.012259, 0.987741);
	-o-transform:scale(1.012259, 0.987741);
	-ms-transform:scale(1.012259, 0.987741);
	-moz-transform:scale(1.012259, 0.987741);
	transform:scale(1.012259, 0.987741);
}
.t39 {
	-webkit-transform:scale(1.012259, 0.987741);
	-o-transform:scale(1.012259, 0.987741);
	-ms-transform:scale(1.012259, 0.987741);
	-moz-transform:scale(1.012259, 0.987741);
	transform:scale(1.012259, 0.987741);
}
.t65 {
	-webkit-transform:scale(1.012346, 0.987654);
	-o-transform:scale(1.012346, 0.987654);
	-ms-transform:scale(1.012346, 0.987654);
	-moz-transform:scale(1.012346, 0.987654);
	transform:scale(1.012346, 0.987654);
}
.t41 {
	-webkit-transform:scale(1.012346, 0.987654);
	-o-transform:scale(1.012346, 0.987654);
	-ms-transform:scale(1.012346, 0.987654);
	-moz-transform:scale(1.012346, 0.987654);
	transform:scale(1.012346, 0.987654);
}
.t64 {
	-webkit-transform:scale(1.012347, 0.987653);
	-o-transform:scale(1.012347, 0.987653);
	-ms-transform:scale(1.012347, 0.987653);
	-moz-transform:scale(1.012347, 0.987653);
	transform:scale(1.012347, 0.987653);
}
.t55 {
	-webkit-transform:scale(1.012347, 0.987653);
	-o-transform:scale(1.012347, 0.987653);
	-ms-transform:scale(1.012347, 0.987653);
	-moz-transform:scale(1.012347, 0.987653);
	transform:scale(1.012347, 0.987653);
}
.t78 {
	-webkit-transform:scale(1.012348, 0.987652);
	-o-transform:scale(1.012348, 0.987652);
	-ms-transform:scale(1.012348, 0.987652);
	-moz-transform:scale(1.012348, 0.987652);
	transform:scale(1.012348, 0.987652);
}
.t53 {
	-webkit-transform:scale(1.012348, 0.987652);
	-o-transform:scale(1.012348, 0.987652);
	-ms-transform:scale(1.012348, 0.987652);
	-moz-transform:scale(1.012348, 0.987652);
	transform:scale(1.012348, 0.987652);
}
.t60 {
	-webkit-transform:scale(1.012349, 0.987651);
	-o-transform:scale(1.012349, 0.987651);
	-ms-transform:scale(1.012349, 0.987651);
	-moz-transform:scale(1.012349, 0.987651);
	transform:scale(1.012349, 0.987651);
}
.t61 {
	-webkit-transform:scale(1.012350, 0.987650);
	-o-transform:scale(1.012350, 0.987650);
	-ms-transform:scale(1.012350, 0.987650);
	-moz-transform:scale(1.012350, 0.987650);
	transform:scale(1.012350, 0.987650);
}
.t59 {
	-webkit-transform:scale(1.012350, 0.987650);
	-o-transform:scale(1.012350, 0.987650);
	-ms-transform:scale(1.012350, 0.987650);
	-moz-transform:scale(1.012350, 0.987650);
	transform:scale(1.012350, 0.987650);
}
.t71 {
	-webkit-transform:scale(1.012350, 0.987650);
	-o-transform:scale(1.012350, 0.987650);
	-ms-transform:scale(1.012350, 0.987650);
	-moz-transform:scale(1.012350, 0.987650);
	transform:scale(1.012350, 0.987650);
}
.t74 {
	-webkit-transform:scale(1.012350, 0.987650);
	-o-transform:scale(1.012350, 0.987650);
	-ms-transform:scale(1.012350, 0.987650);
	-moz-transform:scale(1.012350, 0.987650);
	transform:scale(1.012350, 0.987650);
}
.t43 {
	-webkit-transform:scale(1.012350, 0.987650);
	-o-transform:scale(1.012350, 0.987650);
	-ms-transform:scale(1.012350, 0.987650);
	-moz-transform:scale(1.012350, 0.987650);
	transform:scale(1.012350, 0.987650);
}
.t51 {
	-webkit-transform:scale(1.012351, 0.987649);
	-o-transform:scale(1.012351, 0.987649);
	-ms-transform:scale(1.012351, 0.987649);
	-moz-transform:scale(1.012351, 0.987649);
	transform:scale(1.012351, 0.987649);
}
.t73 {
	-webkit-transform:scale(1.012351, 0.987649);
	-o-transform:scale(1.012351, 0.987649);
	-ms-transform:scale(1.012351, 0.987649);
	-moz-transform:scale(1.012351, 0.987649);
	transform:scale(1.012351, 0.987649);
}
.t49 {
	-webkit-transform:scale(1.012351, 0.987649);
	-o-transform:scale(1.012351, 0.987649);
	-ms-transform:scale(1.012351, 0.987649);
	-moz-transform:scale(1.012351, 0.987649);
	transform:scale(1.012351, 0.987649);
}
.t58 {
	-webkit-transform:scale(1.012352, 0.987648);
	-o-transform:scale(1.012352, 0.987648);
	-ms-transform:scale(1.012352, 0.987648);
	-moz-transform:scale(1.012352, 0.987648);
	transform:scale(1.012352, 0.987648);
}
.t52 {
	-webkit-transform:scale(1.012352, 0.987648);
	-o-transform:scale(1.012352, 0.987648);
	-ms-transform:scale(1.012352, 0.987648);
	-moz-transform:scale(1.012352, 0.987648);
	transform:scale(1.012352, 0.987648);
}
.t48 {
	-webkit-transform:scale(1.012352, 0.987648);
	-o-transform:scale(1.012352, 0.987648);
	-ms-transform:scale(1.012352, 0.987648);
	-moz-transform:scale(1.012352, 0.987648);
	transform:scale(1.012352, 0.987648);
}
.t67 {
	-webkit-transform:scale(1.012352, 0.987648);
	-o-transform:scale(1.012352, 0.987648);
	-ms-transform:scale(1.012352, 0.987648);
	-moz-transform:scale(1.012352, 0.987648);
	transform:scale(1.012352, 0.987648);
}
.t42 {
	-webkit-transform:scale(1.012352, 0.987648);
	-o-transform:scale(1.012352, 0.987648);
	-ms-transform:scale(1.012352, 0.987648);
	-moz-transform:scale(1.012352, 0.987648);
	transform:scale(1.012352, 0.987648);
}
.t62 {
	-webkit-transform:scale(1.012352, 0.987648);
	-o-transform:scale(1.012352, 0.987648);
	-ms-transform:scale(1.012352, 0.987648);
	-moz-transform:scale(1.012352, 0.987648);
	transform:scale(1.012352, 0.987648);
}
.t47 {
	-webkit-transform:scale(1.012352, 0.987648);
	-o-transform:scale(1.012352, 0.987648);
	-ms-transform:scale(1.012352, 0.987648);
	-moz-transform:scale(1.012352, 0.987648);
	transform:scale(1.012352, 0.987648);
}
.t50 {
	-webkit-transform:scale(1.012352, 0.987648);
	-o-transform:scale(1.012352, 0.987648);
	-ms-transform:scale(1.012352, 0.987648);
	-moz-transform:scale(1.012352, 0.987648);
	transform:scale(1.012352, 0.987648);
}
.t63 {
	-webkit-transform:scale(1.012353, 0.987647);
	-o-transform:scale(1.012353, 0.987647);
	-ms-transform:scale(1.012353, 0.987647);
	-moz-transform:scale(1.012353, 0.987647);
	transform:scale(1.012353, 0.987647);
}
.t46 {
	-webkit-transform:scale(1.012353, 0.987647);
	-o-transform:scale(1.012353, 0.987647);
	-ms-transform:scale(1.012353, 0.987647);
	-moz-transform:scale(1.012353, 0.987647);
	transform:scale(1.012353, 0.987647);
}
.t77 {
	-webkit-transform:scale(1.012353, 0.987647);
	-o-transform:scale(1.012353, 0.987647);
	-ms-transform:scale(1.012353, 0.987647);
	-moz-transform:scale(1.012353, 0.987647);
	transform:scale(1.012353, 0.987647);
}
.t54 {
	-webkit-transform:scale(1.012354, 0.987646);
	-o-transform:scale(1.012354, 0.987646);
	-ms-transform:scale(1.012354, 0.987646);
	-moz-transform:scale(1.012354, 0.987646);
	transform:scale(1.012354, 0.987646);
}
.t56 {
	-webkit-transform:scale(1.012354, 0.987646);
	-o-transform:scale(1.012354, 0.987646);
	-ms-transform:scale(1.012354, 0.987646);
	-moz-transform:scale(1.012354, 0.987646);
	transform:scale(1.012354, 0.987646);
}
.t45 {
	-webkit-transform:scale(1.012355, 0.987645);
	-o-transform:scale(1.012355, 0.987645);
	-ms-transform:scale(1.012355, 0.987645);
	-moz-transform:scale(1.012355, 0.987645);
	transform:scale(1.012355, 0.987645);
}
.t1 {
	-webkit-transform:scale(1.016681, 0.983319);
	-o-transform:scale(1.016681, 0.983319);
	-ms-transform:scale(1.016681, 0.983319);
	-moz-transform:scale(1.016681, 0.983319);
	transform:scale(1.016681, 0.983319);
}
.t16 {
	-webkit-transform:scale(1.020368, 0.979632);
	-o-transform:scale(1.020368, 0.979632);
	-ms-transform:scale(1.020368, 0.979632);
	-moz-transform:scale(1.020368, 0.979632);
	transform:scale(1.020368, 0.979632);
}
.t19 {
	-webkit-transform:scale(1.020370, 0.979630);
	-o-transform:scale(1.020370, 0.979630);
	-ms-transform:scale(1.020370, 0.979630);
	-moz-transform:scale(1.020370, 0.979630);
	transform:scale(1.020370, 0.979630);
}
.t18 {
	-webkit-transform:scale(1.020373, 0.979627);
	-o-transform:scale(1.020373, 0.979627);
	-ms-transform:scale(1.020373, 0.979627);
	-moz-transform:scale(1.020373, 0.979627);
	transform:scale(1.020373, 0.979627);
}
.t31 {
	-webkit-transform:scale(1.024381, 0.975619);
	-o-transform:scale(1.024381, 0.975619);
	-ms-transform:scale(1.024381, 0.975619);
	-moz-transform:scale(1.024381, 0.975619);
	transform:scale(1.024381, 0.975619);
}
.t32 {
	-webkit-transform:scale(1.024390, 0.975610);
	-o-transform:scale(1.024390, 0.975610);
	-ms-transform:scale(1.024390, 0.975610);
	-moz-transform:scale(1.024390, 0.975610);
	transform:scale(1.024390, 0.975610);
}
.t33 {
	-webkit-transform:scale(1.024393, 0.975607);
	-o-transform:scale(1.024393, 0.975607);
	-ms-transform:scale(1.024393, 0.975607);
	-moz-transform:scale(1.024393, 0.975607);
	transform:scale(1.024393, 0.975607);
}
.t36 {
	-webkit-transform:scale(1.024393, 0.975607);
	-o-transform:scale(1.024393, 0.975607);
	-ms-transform:scale(1.024393, 0.975607);
	-moz-transform:scale(1.024393, 0.975607);
	transform:scale(1.024393, 0.975607);
}
.t35 {
	-webkit-transform:scale(1.024395, 0.975605);
	-o-transform:scale(1.024395, 0.975605);
	-ms-transform:scale(1.024395, 0.975605);
	-moz-transform:scale(1.024395, 0.975605);
	transform:scale(1.024395, 0.975605);
}
.t28 {
	-webkit-transform:scale(1.029789, 0.970211);
	-o-transform:scale(1.029789, 0.970211);
	-ms-transform:scale(1.029789, 0.970211);
	-moz-transform:scale(1.029789, 0.970211);
	transform:scale(1.029789, 0.970211);
}
.t79 {
	-webkit-transform:scale(1.033164, 0.966836);
	-o-transform:scale(1.033164, 0.966836);
	-ms-transform:scale(1.033164, 0.966836);
	-moz-transform:scale(1.033164, 0.966836);
	transform:scale(1.033164, 0.966836);
}
.t72 {
	-webkit-transform:scale(1.040897, 0.959103);
	-o-transform:scale(1.040897, 0.959103);
	-ms-transform:scale(1.040897, 0.959103);
	-moz-transform:scale(1.040897, 0.959103);
	transform:scale(1.040897, 0.959103);
}
.t68 {
	-webkit-transform:scale(1.047121, 0.952879);
	-o-transform:scale(1.047121, 0.952879);
	-ms-transform:scale(1.047121, 0.952879);
	-moz-transform:scale(1.047121, 0.952879);
	transform:scale(1.047121, 0.952879);
}
.t34 {
	-webkit-transform:matrix(1.047557, -0.011024, 0.010020, 0.952332, 0.000000, 0.000000);
	-o-transform:matrix(1.047557, -0.011024, 0.010020, 0.952332, 0.000000, 0.000000);
	-ms-transform:matrix(1.047557, -0.011024, 0.010020, 0.952332, 0.000000, 0.000000);
	-moz-transform:matrix(1.047557, -0.011024, 0.010020, 0.952332, 0.000000, 0.000000);
	transform:matrix(1.047557, -0.011024, 0.010020, 0.952332, 0.000000, 0.000000);
}
.t95 {
	-webkit-transform:scale(1.052633, 0.947367);
	-o-transform:scale(1.052633, 0.947367);
	-ms-transform:scale(1.052633, 0.947367);
	-moz-transform:scale(1.052633, 0.947367);
	transform:scale(1.052633, 0.947367);
}
.t29 {
	-webkit-transform:scale(1.057039, 0.942961);
	-o-transform:scale(1.057039, 0.942961);
	-ms-transform:scale(1.057039, 0.942961);
	-moz-transform:scale(1.057039, 0.942961);
	transform:scale(1.057039, 0.942961);
}
.t96 {
	-webkit-transform:scale(1.077509);
	-o-transform:scale(1.077509);
	-ms-transform:scale(1.077509);
	-moz-transform:scale(1.077509);
	transform:scale(1.077509);
}
.o0 {
	-webkit-transform-origin:0.00% 100.00%;
	-o-transform-origin:0.00% 100.00%;
	-ms-transform-origin:0.00% 100.00%;
	-moz-transform-origin:0.00% 100.00%;
	transform-origin:0.00% 100.00%;
}
.f12 {
	font-weight:normal;
	font-style:normal;
	font-family:f12generic;
}

.f10 {
	font-weight:normal;
	font-style:normal;
	font-family:f10generic;
}

.f9 {
	font-weight:normal;
	font-style:normal;
	font-family:f9generic;
}

.f11 {
	font-weight:normal;
	font-style:normal;
	font-family:f11generic;
}

.f13 {
	font-weight:normal;
	font-style:normal;
	font-family:f13generic;
}

.f17 {
	font-weight:normal;
	font-style:normal;
	font-family:f17generic;
}

.f16 {
	font-weight:normal;
	font-style:normal;
	font-family:f16generic;
}

.f15 {
	font-weight:normal;
	font-style:normal;
	font-family:f15generic;
}

.f14 {
	font-weight:normal;
	font-style:normal;
	font-family:f14generic;
}

.f18 {
	font-weight:normal;
	font-style:normal;
	font-family:f18generic;
}

.f21 {
	font-weight:normal;
	font-style:normal;
	font-family:f21generic;
}

.f20 {
	font-weight:normal;
	font-style:normal;
	font-family:f20generic;
}

.f19 {
	font-weight:normal;
	font-style:normal;
	font-family:f19generic;
}

.f22 {
	font-weight:normal;
	font-style:normal;
	font-family:f22generic;
}

.f27 {
	font-weight:normal;
	font-style:normal;
	font-family:f27generic;
}

.f25 {
	font-weight:normal;
	font-style:normal;
	font-family:f25generic;
}

.f23 {
	font-weight:normal;
	font-style:normal;
	font-family:f23generic;
}

.f24 {
	font-weight:normal;
	font-style:normal;
	font-family:f24generic;
}

.f26 {
	font-weight:normal;
	font-style:normal;
	font-family:f26generic;
}

.f29 {
	font-weight:normal;
	font-style:normal;
	font-family:f29generic;
}

.f28 {
	font-weight:normal;
	font-style:normal;
	font-family:f28generic;
}

.f30 {
	font-weight:normal;
	font-style:normal;
	font-family:f30generic;
}

.f3 {
	font-weight:normal;
	font-style:normal;
	font-family:f3generic;
}

.f0 {
	font-weight:normal;
	font-style:normal;
	font-family:f0generic;
}

.f2 {
	font-weight:normal;
	font-style:normal;
	font-family:f2generic;
}

.f4 {
	font-weight:normal;
	font-style:normal;
	font-family:f4generic;
}

.f1 {
	font-weight:normal;
	font-style:normal;
	font-family:f1generic;
}

.f8 {
	font-weight:normal;
	font-style:normal;
	font-family:f8generic;
}

.f7 {
	font-weight:normal;
	font-style:normal;
	font-family:f7generic;
}

.f5 {
	font-weight:normal;
	font-style:normal;
	font-family:f5generic;
}

.f6 {
	font-weight:normal;
	font-style:normal;
	font-family:f6generic;
}


@media screen and (-webkit-min-device-pixel-ratio:0){.sc_{-webkit-text-stroke:0px transparent;}}
.sp{display:inline-block;width:0.0px;text-shadow:none;}

.ds{display:none;}


